<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 col-md-6">
            <div class="card p-4">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text"  class="form-control" id="inputEmail" placeholder="email@example.com">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
    
                <div class="card-body">  
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary px-4" id="btnEntrar">Entrar</button>
                        <a href="/view/administrador/cadastro.html" class="btn btn-primary px-4">Cadastrar</a>
                    </div>            
                </div>
            </div>

        </div>
        

    </div>

</div>
<script>    

    $("#btnEntrar").click(()=>{
        login($("#inputEmail").val(), $("#inputPassword").val());
        
    });

    function login(email, senha){
        var objectJson = JSON.stringify({
            "acao": "logar",
            "usuario":email,
            "senha":senha
        });
        $.post("controller/administrador.php/",objectJson,function(resposta){
            console.log(resposta);
            if(resposta.result){
                let usuario = resposta.data;
                alert(`Usuário: ${usuario.nome} logado; \nE-mail: ${usuario.email}; \nMatricula: ${usuario.matricula}`)
            }
            else{
                alert("Email ou senha inválidos")
            }
                
        });
    }

</script>